$bg_light_grey: #f3f3f3;
$green: #5EB6AB;
$green_success: #0EBE9C;
$red_error: #E74B59;
$blue: #37A0F3;
$blue_hover: #46AEFF;
$disabled: #C8C8C8;
$grey_border: #bbb;
$dark_grey_text: #505050;
$medium_grey_text: #999999;

$navpanel_bg: #2F3E4D;

$darkest_blue_bg: #1D2D3C;
$dark_blue_bg: #E2E8EB;
$medium_blue_bg: #EDF1F3;
$light_blue_bg: #E4F3FF;
$light_blue_border: #B1DAFB;

$medium_blue_text: #899aa3;

$dark_blue_link: #276A9F;
